{% extends 'base/master.html' %}
{% block 'title' %}Admin {% endblock %}
{% block 'content' %}
<div class="container-fluid">
    <div class="row" style='background-color:azure'>
        <div class="col-sm-4">
            <h3 class="text-center alert alert-info">Add Teacher</h3>
            <form action="{% url 'teacherusersignup' %}" method="post" enctype="multipart/form-data" class="form">
                {% csrf_token %}
                <span>Name</span>
                <input type="text" class="form-control" name="Tname">
                <span>Email</span>
                <input type="email" class="form-control" name="email">
                <span>Subjects</span>
                <input type="text" class="form-control" name="subject">
                <span>Started Date</span>
                <input type="date" class="form-control" name="sdate">
                <span>End Date</span>
                <input type="date" class="form-control" name="edate">
                <span>Salary</span>
                <input type="text" class="form-control" name="salary">
                <span>Contact</span>
                <input type="text" class="form-control" name="contact">
                <span>Address</span>
                <input type="text" class="form-control" name="address">
                <span>Password</span>
                <input type="password" class="form-control" name="password1">
                <span>Confirm Password</span>
                <input type="password" class="form-control" name="password2"><br>
                <button type="submit" class="form-control btn btn-success">Save</button>
            </form>
        </div>
        <div class="col-sm-8">
            <h3 class="text-center alert alert-info">Teachers Details</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in teacher_details %}
                    <tr>
                        <td>{{t.id}}</td>
                        <td>{{t.name}}</td>
                        <td>{{t.email}}</td>
                        <td>{{t.contact}}</td>
                        <td>
                            <a href="{% url 'editteacher' t.id %}"><button class="btn btn-primary">Edit</button></a>
                            |<a href="{% url 'delete' t.id %}"> <button class="btn btn-danger">Delete</button></a>
                        </td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}