{% extends 'base/master.html' %}
{% block 'title' %}Admin {% endblock %}
{% block 'content' %}
<div class="container-fluid">
    <div class="row" style='background-color:azure'>
        <div class="col-sm-6">
            <h3 class="text-center alert alert-info">
                <a href="{% url 'adminteacher' %}">
                    <button class="btn btn-primary" style="margin-right: 10px;">Teachers</button>
                </a>
            </h3>
            <table class="table">
                <thead></thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in teacher_details %}
                    <tr>
                        <td>{{t.id}}</td>
                        <td>{{t.name}}</td>
                        <td>{{t.email}}</td>
                        <td>view</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h3 class="text-center alert alert-info">
                <button class="btn btn-primary">Students</button>
            </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Batch</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Rahul singh</td>
                        <td>2073</td>
                        <td>view</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}